@font-face {
  font-family: TradeGothic;
  src: url("../fonts/tradegothicltstd-extended.otf");
}

@font-face {
  font-family: TradeGothicBold;
  src: url("../fonts/tradegothicltstd-boldext.otf");
}

@font-face {
  font-family: Ogg;
  src: url("../fonts/Ogg Roman.otf");
}

$trade_gothic_font: TradeGothic, Roboto, serif;
$trade_gothic_bold_font: TradeGothicBold, Roboto, serif;
$ogg_font: Ogg, Roboto, serif;

html
{
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-lg
{
  max-width: 1024px;
  padding: 0;
}

.covid
{
  padding: 5px;
  background-color: #F3F3F3;
    & h6
    {
      font-family: $trade_gothic_font;
      margin: 0;
      font-size: 12px;
    }
}

.toolbar-inner
{

  & a
  {
    font-size: 24px;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover
    {
      filter: opacity(50%);
    }

  }

  & .navbar-toggler-icon{
    background-image:url("../images/toggler-icon.svg");
  }

  & .navbar-toggler
  {
    border: none;
  }

  & .navbar
  {
    display: inline;
  }

}

.navigation
{

  display: flex;
  justify-content: space-around;

  & a
  {
    font-family: $trade_gothic_bold_font;
    font-size: 11px;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover
    {
      filter: opacity(50%);
    }

  }
}

main .jumbotron
{
  background-color: black;
  border-radius: 0;
  
  & h1
  {
    font-size: 61px;
    font-family: $ogg_font;
    color: #fff;
  }

  & p
  {
    color: #fff;
    font-family: $trade_gothic_font;
    font-size: 16px;
    text-align: center;
    width: 70%;
    margin: auto;
  }

}

.upcoming
{
  background-image: url("../images/upcoming_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;

  & h1
  {
    font-size: 36px;
    font-family: $ogg_font;
  }
}

.live-curation
{
  background-color: #F4BAB5;

  .col-lg-4
  {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 -65px;
  }

  & h5
  {
    font-size: 20px;
    text-transform: uppercase;
    font-family: $trade_gothic_bold_font;
  }

  & img
  {
    height: 280px;
    background-image: url("../images/portrait_bg.svg");
    background-size: 200%;
    background-position: 46% 48%;
    background-clip: border-box;
    background-repeat: no-repeat;
    border: 50px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    display: block;
    margin: auto;
  }

  & h1
  {
    font-family: $ogg_font;
    font-size: 61px;
  }

  & p
  {
    font-family: $trade_gothic_font;
    font-size: 16px;
    line-height: 27px;
    width: 60%;
    margin: auto;
  }

  & .rsvp
  {
    font-family: $trade_gothic_font;
    border: 2px solid black;
    padding: 5px 50px;
    border-radius: 0;
    color: #000;
    font-size: 16px;

    &:hover
    {
      background-color: #000;
      color: #fff;
    }
  }

  & .live-recording
  {
    border: 1px solid black;
    border-radius: 8px;
    font-family: $trade_gothic_bold_font;
    text-transform: uppercase;
    font-size: 11px;
    margin: auto;

    span
    {
      color: #B3F695;
    }

    &:hover
    {
      background-color: #000;
      color: #fff;
    }

  }

}

.recent
{

  & h1
  {
    font-size: 36px;
    font-family: $ogg_font;
  }

  & .recent-photo-block
  {
    padding-top: 40px;

    &:nth-child(6n + 1)
    {
      background-image: url("../images/shapes/triangle.svg"), url("../images/bag_bg.svg");
      background-repeat: no-repeat, no-repeat;
      background-position: 20% 30%, 5% 5%;
    }

    &:nth-child(6n + 2)
    {
      background-image: url("../images/shapes/combined.svg");
      background-repeat: no-repeat;
      background-position: 50% 40%;
    }

    &:nth-child(6n + 3)
    {
      background-image: url("../images/shapes/oval.svg"), url("../images/bulb.svg");
      background-repeat: no-repeat, no-repeat;
      background-position: 80% 10%, 90% 0;
      background-blend-mode: multiply;
    }

    &:nth-child(6n + 4)
    {
      background-image: url("../images/shapes/pill.svg");
      background-repeat: no-repeat;
      background-position: 40% 20%;
    }

    &:nth-child(6n + 5)
    {
      background-image: url("../images/shapes/star.svg"), url("../images/magnifier.svg");
      background-repeat: no-repeat, no-repeat;
      background-position: 90% 80%, 0 0;
    }

    &:nth-child(6n + 6)
    {
      background-image: url("../images/shapes/polygon.svg");
      background-repeat: no-repeat;
      background-position: 70% 10%;
    }

    .recent-photo
    {
      padding: 10px 8px 30px 8px;
      background-image: url("../images/frame.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-clip: border-box;
      max-width: 150px;
    }

    h1
    {
      font-size: 36px;
      font-family: $ogg_font;
    }

  }
}

footer
{

}

@media (min-width:992px){
  .container,
  .container-lg,
  .container-md,
  .container-sm{
    max-width: 1024px;
    padding: 0;
  }
}

@media (max-width: 992px){

  .navbar
  {
    display: block;

    .navigation
    {
      display: block;
      text-align: center;

      a
      {
        text-decoration: underline;
        padding-bottom: 1rem;
        display: block;
      }
    }
  }

  .upcoming
  {
    background-size: 100%;
    background-image: url("../images/upcoming_bg_mobile.svg");
  }

  main .jumbotron
  {
    & p
    {
      width: 100%;
    }
  }

  .footer-inner
  {

  }

}

//@media (max-width: 576px) {
//  .col-sm-6
//  {
//    max-width: 50%;
//  }
//}
