@font-face {
  font-family: TradeGothic;
  src: url("../fonts/tradegothicltstd-extended.otf");
}
@font-face {
  font-family: TradeGothicBold;
  src: url("../fonts/tradegothicltstd-boldext.otf");
}
@font-face {
  font-family: Ogg;
  src: url("../fonts/Ogg Roman.otf");
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-lg {
  max-width: 1024px;
  padding: 0;
}

.covid {
  padding: 5px;
  background-color: #F3F3F3;
}
.covid h6 {
  font-family: TradeGothic, Roboto, serif;
  margin: 0;
  font-size: 12px;
}

.toolbar-inner a {
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.toolbar-inner a:hover {
  filter: opacity(50%);
}
.toolbar-inner .navbar-toggler-icon {
  background-image: url("../images/toggler-icon.svg");
}
.toolbar-inner .navbar-toggler {
  border: none;
}
.toolbar-inner .navbar {
  display: inline;
}

.navigation {
  display: flex;
  justify-content: space-around;
}
.navigation a {
  font-family: TradeGothicBold, Roboto, serif;
  font-size: 11px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.navigation a:hover {
  filter: opacity(50%);
}

main .jumbotron {
  background-color: black;
  border-radius: 0;
}
main .jumbotron h1 {
  font-size: 61px;
  font-family: Ogg, Roboto, serif;
  color: #fff;
}
main .jumbotron p {
  color: #fff;
  font-family: TradeGothic, Roboto, serif;
  font-size: 16px;
  text-align: center;
  width: 70%;
  margin: auto;
}

.upcoming {
  background-image: url("../images/upcoming_bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.upcoming h1 {
  font-size: 36px;
  font-family: Ogg, Roboto, serif;
}

.live-curation {
  background-color: #F4BAB5;
}
.live-curation .col-lg-4 {
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0 -65px;
}
.live-curation h5 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: TradeGothicBold, Roboto, serif;
}
.live-curation img {
  height: 280px;
  background-image: url("../images/portrait_bg.svg");
  background-size: 200%;
  background-position: 46% 48%;
  background-clip: border-box;
  background-repeat: no-repeat;
  border: 50px solid rgba(0, 0, 0, 0);
  border-radius: 50%;
  display: block;
  margin: auto;
}
.live-curation h1 {
  font-family: Ogg, Roboto, serif;
  font-size: 61px;
}
.live-curation p {
  font-family: TradeGothic, Roboto, serif;
  font-size: 16px;
  line-height: 27px;
  width: 60%;
  margin: auto;
}
.live-curation .rsvp {
  font-family: TradeGothic, Roboto, serif;
  border: 2px solid black;
  padding: 5px 50px;
  border-radius: 0;
  color: #000;
  font-size: 16px;
}
.live-curation .rsvp:hover {
  background-color: #000;
  color: #fff;
}
.live-curation .live-recording {
  border: 1px solid black;
  border-radius: 8px;
  font-family: TradeGothicBold, Roboto, serif;
  text-transform: uppercase;
  font-size: 11px;
  margin: auto;
}
.live-curation .live-recording span {
  color: #B3F695;
}
.live-curation .live-recording:hover {
  background-color: #000;
  color: #fff;
}

.recent h1 {
  font-size: 36px;
  font-family: Ogg, Roboto, serif;
}
.recent .recent-photo-block {
  padding-top: 40px;
}
.recent .recent-photo-block:nth-child(6n+1) {
  background-image: url("../images/shapes/triangle.svg"), url("../images/bag_bg.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 20% 30%, 5% 5%;
}
.recent .recent-photo-block:nth-child(6n+2) {
  background-image: url("../images/shapes/combined.svg");
  background-repeat: no-repeat;
  background-position: 50% 40%;
}
.recent .recent-photo-block:nth-child(6n+3) {
  background-image: url("../images/shapes/oval.svg"), url("../images/bulb.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 80% 10%, 90% 0;
  background-blend-mode: multiply;
}
.recent .recent-photo-block:nth-child(6n+4) {
  background-image: url("../images/shapes/pill.svg");
  background-repeat: no-repeat;
  background-position: 40% 20%;
}
.recent .recent-photo-block:nth-child(6n+5) {
  background-image: url("../images/shapes/star.svg"), url("../images/magnifier.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: 90% 80%, 0 0;
}
.recent .recent-photo-block:nth-child(6n+6) {
  background-image: url("../images/shapes/polygon.svg");
  background-repeat: no-repeat;
  background-position: 70% 10%;
}
.recent .recent-photo-block .recent-photo {
  padding: 10px 8px 30px 8px;
  background-image: url("../images/frame.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-clip: border-box;
  max-width: 150px;
}
.recent .recent-photo-block h1 {
  font-size: 36px;
  font-family: Ogg, Roboto, serif;
}

footer div.social {
  display: none;
}
footer .footer-inner {
  display: flex;
  justify-content: space-between;
}
footer .footer-inner hr {
  display: none;
}
footer .footer-inner a {
  display: block;
}
footer .footer-inner .footer-column {
  flex-grow: 2;
  order: 2;
}
footer .footer-inner .footer-column h6 {
  text-transform: uppercase;
  font-family: TradeGothicBold, Roboto, serif;
  font-size: 14px;
}
footer .footer-inner .footer-column h6 span {
  display: none;
}
footer .footer-inner .footer-column a {
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: TradeGothicBold, Roboto, serif;
  font-size: 11px;
}
footer .footer-inner .footer-column a:hover {
  color: rgba(0, 0, 0, 0.5);
}
footer .footer-inner .input-block {
  flex-grow: 3;
  order: 3;
}
footer .footer-inner .input-block input {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid black;
  font-family: TradeGothic, Roboto, serif;
  font-size: 12px;
}
footer .footer-inner .input-block h6 {
  max-width: 25vw;
}
footer .footer-inner .input-block .input-group-append button {
  padding-bottom: 0;
  border-bottom: 2px solid black;
  border-radius: 0;
  font-size: 12px;
}

@media (min-width: 992px) {
  .container,
.container-lg,
.container-md,
.container-sm {
    max-width: 1024px;
    padding: 0;
  }
}
@media (max-width: 992px) {
  .navbar {
    display: block;
  }
  .navbar .navigation {
    display: block;
    text-align: center;
  }
  .navbar .navigation a {
    text-decoration: underline;
    padding-bottom: 1rem;
    display: block;
  }

  .upcoming {
    background-size: 100%;
    background-image: url("../images/upcoming_bg_mobile.svg");
  }

  main .jumbotron p {
    width: 100%;
  }

  footer div.social {
    margin-top: 1rem;
    display: block;
  }
  footer div.social img {
    width: 1.5rem;
  }

  .footer-inner {
    display: flex;
    flex-direction: column;
  }
  .footer-inner hr.hr {
    display: block;
    border-top: 2px solid black;
    margin: 0;
  }
  .footer-inner a {
    display: block;
    margin-bottom: 1rem;
    padding-left: 2rem;
  }
  .footer-inner .footer-column {
    flex-grow: 1;
    order: 2;
  }
  .footer-inner .footer-column h6 {
    border-top: 2px solid black;
    padding: 1rem 1rem;
    margin: 0;
  }
  .footer-inner .footer-column h6 span.plus {
    display: inline;
    float: right;
    color: green;
  }
  .footer-inner .footer-column h6 span.plus img {
    height: 1rem;
  }
  .footer-inner .find-us {
    display: none;
  }
  .footer-inner div.input-block {
    order: 1;
    width: 80%;
    margin: 0 auto 2rem auto;
  }
  .footer-inner div.input-block h6 {
    max-width: 100% !important;
    border: none;
  }
}

/*# sourceMappingURL=style.css.map */
